.list {
    list-style: none;
}

.section {
    padding: 60px 15px;

    @media screen and (min-width: 1200px) {
        padding: 94px 15px;
    }
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
    color: var(--accent-colo);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}