:root {
    --primary-text-color: #212121;
    --secondayr-text-color: #ffffff;
    --tetriary-text-color: #f5f4fa;
    --accent-colo: #2196f3;
    --description-text: #757575;
    --background-color: #2f303a;
    --border-color: #eeeeee;
    --sprite-color: #afb1b8;
}